<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>        
        <mapping class="com.TOMSystem.Item.Item" />
        <mapping class="com.TOMSystem.User.User" />
        <mapping class="com.TOMSystem.Order.Order" />
    </session-factory>         
</hibernate-configuration>